<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
    <div class="inner">
        <app-timer-adder></app-timer-adder>
    </div>
</section>

<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
    <div class="inner">
        <app-timer-runninglist></app-timer-runninglist>
    </div>
</section>

<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
    <div class="inner">
        <app-timer-stoppedlist></app-timer-stoppedlist>
    </div>
</section>
<!-- <app-triple-clic-detector></app-triple-clic-detector> -->
<!-- <div>{{a}} - {{b}} - {{c}} - {{d}}</div> -->